body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -10;
  background: var(--BG-001, #F9FAFB);
  /*overflow: hidden;*/
}
* {
  box-sizing: border-box;
  font-family: "Pretendard Variable"
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
